{% extends "blog/base.html" %}
 
{% block title %}My Blog{% endblock %}
 
{% block content %}
  <h1>Blog - Mateusz Rynkowski</h1>
  {% for post in posts %}
  <a style="color: inherit; text-decoration: none;" href="{{ post.get_absolute_url }}">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.publish }}, autor: {{ post.author }}</h6>
        <p class="card-text">{{ post.desc }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
  {% include "pagination.html" with page=page_obj %}
{% endblock %}
